doctype html

html
    head
        title This is Pug
        script (src="https://code.jquery.com/jquery.js")
    body    
        h1 Rendering PUG Index file
        div
            p A message! 
            

